<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="platinum">
            <section name="resolver" type="Platinum.Resolver.ResolverConfiguration,Platinum.Core" />
        </sectionGroup>
    </configSections>

    <platinum>
        <resolver>
            <customResolvers>
                <add scheme="c1" moniker="Platinum.Core.Tests.Custom1Resolver,Platinum.Core.Tests" />
                <add scheme="c2" moniker="Platinum.Core.Tests.Custom2Resolver,Platinum.Core.Tests" />
            </customResolvers>
        </resolver>
    </platinum>
</configuration>