<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="platinum.test" type="Platinum.Core.Tests.Configuration.ConfigurationTestConfiguration, Platinum.Core.Tests" />

        <sectionGroup name="platinum">
            <section name="resolver" type="Platinum.Resolver.ResolverConfiguration,Platinum.Core" />
            <section name="cultureFactory" type="Platinum.Globalization.CultureFactoryConfiguration,Platinum.Core" />
        </sectionGroup>
    </configSections>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <platinum>
        <resolver>
            <customResolvers>
                <add scheme="relfile" moniker="Platinum.Resolver.RelfileResolver,Platinum.Core" />
                <add scheme="c1" moniker="Platinum.Core.Tests.Resolver.Custom1Resolver,Platinum.Core.Tests" />
                <add scheme="c2" moniker="Platinum.Core.Tests.Resolver.Custom2Resolver,Platinum.Core.Tests" />
            </customResolvers>
        </resolver>

        <cultureFactory>
            <cultures>
                <add culture="en-US">
                    <dateTimeFormat shortDatePattern="yyyy-MM-dd" dateSeparator="/" firstDayOfWeek="Monday" />
                </add>

                <add culture="ft-FT" fromNeutral="true" />
            </cultures>
        </cultureFactory>
    </platinum>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <platinum.test boolean="true" enum="Value1" int="1" string="pass the test, Luke">
        <element prop="these aren't the droids you are looking for" />

        <repeat>
            <zzz name="ZZ1">
                <add key="k1" value="v1" />
                <add key="k2" value="v2" />
            </zzz>
            <zzz name="ZZ2" />
        </repeat>
    </platinum.test>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~
    ~
    ~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appSettings>
        <!-- Algorithm -->
        <add key="Alpha:CharacterSet" value="0123456789ABCDEFGHJKLMNOPQRSTUVWXYZ" />
        <add key="Alpha:Length" value="5" />

        <add key="Symbol:CharacterSet" value="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!@#$%^*=" />
        <add key="Symbol:Length" value="8" />

        <!-- Cryptography -->
        <add key="AesManaged:Algorithm" value="AesManaged" />
        <add key="AesManaged:Key"       value="vIx3bGJj2xig04wbp4Sdzw==" />
        <add key="AesManaged:Iv"        value="qnWUnMEt3klakwmvwNeweg==" />

        <add key="Aes:Algorithm" value="Aes" />
        <add key="Aes:Key"       value="vIx3bGJj2xig04wbp4Sdzw==" />
        <add key="Aes:Iv"        value="qnWUnMEt3klakwmvwNeweg==" />
    </appSettings>
</configuration>