*.suo
*.csproj.user
.vs/
build/
src/**/ER.resx
src/**/Errors.cs
src/**/Exceptions.cs
src/**/Configuration.cs
src/**/bin/
src/**/obj/
src/**/project.lock.json
src/Platinum.Schema/Platinum.Schema.nuspec
tests/**/bin/
tests/**/obj/
tests/**/ER.resx
tests/**/Errors.cs
tests/**/Exceptions.cs
tests/Platinum.Core.Tests/Configuration/Configuration.cs
packages/
TestResults/
push.bat
real.bat
