<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <extensions>
        <add assembly="Platinum.Logging" />
    </extensions>

    <targets>
        <target xsi:type="ElasticSearch"
                name="ElasticSearch"
                uri="http://192.168.56.101:9200/"
                index="logstash-${date:format=yyyy.MM.dd}"
                documentType="logevent"
                layout="${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="ElasticSearch" />
    </rules>
</nlog>
