<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <extensions>
        <add assembly="Platinum.Metrics" />
    </extensions>

    <targets>
        <target xsi:type="Metrics"
                name="metrics"
                uri="http://192.168.51.185:9200/"
                index="metrics-${date:format=yyyy.MM.dd}"
                documentType="measure"
                layout="${message}" />

        <target name="Console" xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="true"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=toString}" />
    </targets>

    <rules>
        <logger name="Platinum.Metrics.Metric" minlevel="Debug" writeTo="metrics" final="true" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>
