<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="platinum">
            <section name="resolver" type="Platinum.Resolver.ResolverConfiguration,Platinum.Core" />
            <section name="mock" type="Platinum.Mock.MockConfiguration,Platinum.Mock" />
        </sectionGroup>
    </configSections>

    <platinum>
        <resolver />

        <mock>
            <loaders>
                <loader name="xml" type="Platinum.Mock.DataLoader.XmlDataLoader,Platinum.Mock">
                    <add key="file01" value="assembly:///Platinum.Mock.Tests/~/data01.xml" />
                    <add key="file02" value="assembly:///Platinum.Mock.Tests/~/data02.xml" />
                </loader>
            </loaders>
        </mock>
    </platinum>
</configuration>