<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="platinum">
            <section name="resolver" type="Platinum.Resolver.ResolverConfiguration,Platinum.Core" />
        </sectionGroup>
    </configSections>

    <platinum>
        <resolver />
    </platinum>
</configuration>