<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Application" value="Platypus" />
        <add key="Environment" value="LOCAL" />
    </appSettings>

    <connectionStrings>
        <add name="TestDb"
             connectionString="Server=.\EXPRESS;Database=Journal;User Id=journal;Password=password;"
             providerName="System.Data.SqlClient" />

        <add name="WrongPasswordDb"
             connectionString="Server=.\EXPRESS;Database=Journal;User Id=journal;Password=password2;"
             providerName="System.Data.SqlClient" />

        <add name="NoUserDb"
             connectionString="Server=.\EXPRESS;Database=Journal;User Id=journal2;Password=password2;"
             providerName="System.Data.SqlClient" />

        <add name="NoDatabaseDb"
             connectionString="Server=.\EXPRESS;Database=Journal2;User Id=journal;Password=password;"
             providerName="System.Data.SqlClient" />

        <add name="NoServerDb"
             connectionString="Server=.\XPTO;Database=Journal2;User Id=journal;Password=password;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>